@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	color: #222;
	font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.2;
}


h1, h2, h3, h4, h5, h6, button, a, label{
    font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
h1{
    font-size: 44px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 26px;
}

h5{
    font-size: 20px;
}

h6{
    font-size: 18px;
}
p{
    font-size: 16px;
    margin-bottom: 10px;
}

img{
	width: 100%;
}

select, input, button, a{
	border-radius: 5px;
}
hr {
    background-color: rgba(170, 170, 170, .5);
}

.field .input, 
.select select, 
.field .textarea {
    box-shadow: 0 0 4px #AAA;
	font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;

}

.input::-webkit-input-placeholder, 
.select select::-webkit-input-placeholder, 
.textarea::-webkit-input-placeholder,
.input::placeholder, 
.select select::placeholder, 
.textarea::placeholder {
    color: #555;
}
.navbar {
	box-shadow: 0 2px 6px #AAA;
	flex-flow: row wrap;
}

@media screen and (max-width: 767px){
    h1{
        font-size: 32px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 24px;
    }

    h4{
        font-size: 20px;
    }

    h5{
        font-size: 18px;
    }

    h6{
        font-size: 16px;
    }
}


/****** Global Class ******/
.button.is-white{
	background-color: #FFF;
	transition: all .4s ease-in;
	&:hover{
		background-color: #F2F2F2;
	}
}

.button.is-primary{
	background-color: #007CCC;
	transition: all .4s ease-in;
	&:hover{
		background-color: #006DB4;
	}
}

.button.is-primary.outline{
	border: 2px solid #007CCC;
	color: #007CCC;
	transition: all .4s ease-in;
	background-color: transparent;
	&:hover{
		background-color: #007CCC;
		color: #FFF;
	}
}

.button.is-second{
	background-color: #E6B112;
	transition: all .4s ease-in;
	border: 0;
	color: #FFF;
	&:hover{
		background-color: #DFA905;
	}
}
.button.is-third{
	background-color: #007CCC;
	transition: all .4s ease-in;
	&:hover{
		background-color: #006DB4;
	}
}
// .button.is-primary{
// 	background-color: #007CCC;
// 	transition: all .4s ease-in;
// 	&:hover{
// 		background-color: #006DB4;
// 	}
// }
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.text-white{
	color: #FFF;
}
.text-shadow {
    text-shadow: 1px 2px 3px #000;
}
.m-auto{
	margin: 0 auto;
}
.box-shadow{
	box-shadow: 0 3px 6px #AAA;
}
.hide{
	display: none;
}

.status{
	color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
	&.on-sale{
		background-color: #5895CC;
	}

	&.pending{
		background-color: #F0AC4D;
	}

	&.deleted{
		background-color: #D9534E;
	}
	&.sold{
		background-color: #5CB85C;
	}
	&.draft{
		background-color: #6C757D;
	}
}

.line-between {
    width: 2px;
    height: calc(500px - 20px);
    align-self: center;
    display: block;
    background: #d8d8d8;
}

.pagination-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
	.inner-pagination {
	    flex: 0 0 auto;
	    .pagination-previous, .pagination-next {
		    border: 0;
		    transition: all .3s ease-in;
		    &:hover, &:focus{
		    	color: #FFF;
			    background-color: #007CCC;
		    }
		}
	    .pagination-previous {
		    margin-right: 15px;
		}

		.pagination-next {
		    margin-left: 15px;
		}
		.pagination-link {
		    border: 0;
		    box-shadow: 0 2px 6px #AAA;
		    transition: all .3s ease-in;
		    &:hover, &:focus{
		    	color: #FFF;
			    background-color: #007CCC;
		    }
		    &.active{
		    	color: #FFF;
			    background-color: #007CCC;
		    }
		}
	}
}

/****** Global Class End ******/

/****** Header ******/
#topbar {
    width: 100%;
    flex: 0 0 100%;
    background-color: #007CCC;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
    	color: #FFF;
    	&:hover{
			color: #E6B112;
    	}
    }
}
.navbar{
	.navbar-item {
		img {
		    width: 190px;
		    height: auto;
	        max-height: initial;
		}
	}
	.navbar-center {
	    display: flex;
	    justify-content: center;
	    margin: 0 auto;
	}
}

/****** Header End ******/

/****** Footer ******/
.footer{
	padding: 60px 20px;
	background-color: #007CCC;
	h3, p, a{
		color: #FFF;
	}
	h3{
		margin-bottom: 15px;
	}
	.fa-li{
		color: #FFF;
	}
	.footer-link{
		&:hover{
			color: #E6B112;
		}
		i{
			font-weight: normal;
		}
	}
	.quick-links li, 
	.footer-contact li {
	    margin-bottom: 5px;
	}
	.social-media {
	    display: flex;
	    flex-flow: row wrap;
	    align-items: center;
	    margin: 10px;
		li {
		    margin-right: 10px;
			.follow-us {
			    font-size: 20px;
			    color: #FFF;
			}

			.footer-link {
			    font-size: 24px;
			}
		}
	}
}

.copyright-content {
    padding: 20px;
    text-align: center;
    background-color: #0076C2;
	.copyright-text {
	    margin: 0;
	    color: #FFF;
	    font-weight: bold;
	}
}

/****** Footer End ******/

/****** Home ******/
.home-header{
	background-image: url('/img/header.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	.header-content{
		margin-bottom: 20px;
		.home-title {
		    font-size: 60px;
		}

	}
	.home-form {
	    width: 60%;
	    padding: 10px 20px;
	    display: flex;
	    justify-content: space-between;
	    border-radius: 5px;
	    background-color: #007CCC;
		.field {
		    margin: 0 5px 0;
		}
	    .input-search {
		    flex: 1 0 auto;
		}

	}
}

.recent-prod {
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
	.prod-link{
		box-shadow: 0 2px 6px #AAA;
		border-radius: 5px;
	    transition: all .4s ease-in-out;
	    color: #000;
	    width: 100%;
	}
	.box-prod{
		.img-prod {
		    border-radius: 5px;
		    overflow: hidden;
		}
		.content-info {
		    padding: 10px;
			.prod-title {
			    margin-bottom: 5px;
			    font-size: 21px;
			}
			p {
			    margin: 0;
			    color: #555;
			    font-size: 14px;
			}
		}
	}
}
.recent-company {
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
	.company-link{
		box-shadow: 0 2px 6px #AAA;
		border-radius: 5px;
	    transition: all .4s ease-in-out;
	    color: #000;
	    width: 100%;
	}
	.box-company{
		.img-company {
		    border-radius: 5px;
		    overflow: hidden;
		}
		.content-info {
		    padding: 10px;
			.company-title {
			    margin-bottom: 5px;
			    font-size: 21px;
			}
			p {
			    margin: 0;
			    color: #555;
			    font-size: 14px;
			}
		}
	}
}

.advantages {
	background-color: #F2F2F2;
	.cards-content{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
	}
	.card {
    	border-radius: 10px;
    	padding: 30px;
    	box-shadow: 0 3px 6px #AAA;
    	.card-image {
		    margin-bottom: 15px;
		    .image {
			    width: 40%;
			    margin: 0 auto;
			}
		}
		.card-content {
		    padding: 0;
		    h3 {
			    text-align: center;
			}
		}
	}
}

/****** Home End ******/

/****** Cars ******/

.products-header{
	background-image: url('/img/banner-auto.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    padding: 30px 15px;
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#products-content{
	background-color: #F2F2F2;
	// padding: 30px 0;
	.box-content {
	    background-color: #FFF;
	    box-shadow: 0 0 6px #AAA;
	    border-radius: 5px;
	    padding: 60px 30px;
	}
}
.box-sidebar{
	background-color: #F2F2F2;
	padding: 60px 20px;
	margin-left: 15px;
	.search-sidebar-form {
	    padding: 10px;
	    background-color: #FFF;
	    box-shadow: 0 0 6px #AAA;
	    margin: 10px 0 30px;
	    border-radius: 5px;
		.select, select {
		    width: 100%;
		}
		.mid-field{
		    width: 49%;
		    display: inline-block;
		    margin-left: auto;
		}
	}

	.advanced-search {
		display: block;
		margin-bottom: 15px;
	}

	.box-advanced-search {
		margin-bottom: 15px;
	}

	.change-role{
		padding: 20px 10px;
		background-color: #007CCC;
		border-radius: 5px;
		h4, p{
			text-align: center;
			color: #FFF;
			margin-bottom: 10px;
		}
		a{
		    display: block;
		    margin-top: 20px;
		}

	}
}
.filter-content {
    // padding: 10px 0;
    .filter-form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .radio-group {
            // margin-left: auto;
            margin-right: 20px;
            display: flex;
            align-items: center;
            label{
                display: inline-block;
            }
            .radio-control {
                opacity: 0; /* hidden but still tabable */
                position: absolute;
                & + span{
                    color: #007CCC;
                    border-radius: 5px;
                    padding: 2px 4px;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    font-size: 24px;
                    display: inline-block;
                }
                &:checked + span{
                    color: #fff;
                    background-color: #007CCC;
                }
                &:focus + span {
                    color: #fff;
                }
            }
        }
    }
    
}
.products-content.grid-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    .prod-link{
		box-shadow: 0 2px 6px #AAA;
		border-radius: 5px;
	    transition: all .4s ease-in-out;
	    color: #000;
	    width: 100%;
	}
	.car-prod {
	    border-radius: 5px;
	    overflow: hidden;
	    box-shadow: 0 3px 6px #AAA;
        transition: all 1s ease;

	    .img-prod {
		    border-radius: 5px;
		    overflow: hidden;
		}
		.content-info {
		    padding: 10px;
			.prod-title {
			    margin-bottom: 5px;
			    font-size: 21px;
			}
			p {
			    margin: 0;
			    color: #555;
			    font-size: 14px;
			}
		}
	}
	*{
        
        transition: all 1s ease;
    }
}
.products-content.list-view {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    .prod-link {
	    margin-bottom: 20px;
	    color: #222;
	}

	.car-prod {
	    display: flex;
	    align-items: center;
	    flex-flow: row;
	    border-radius: 5px;
	    overflow: hidden;
	    box-shadow: 0 2px 6px #AAA;
	    .prod-title {
		    margin-bottom: 10px;
		    font-size: 30px;
		}
		p {
		    margin-bottom: 5px;
		    color: #555;
		    font-size: 16px;
		}
	    .img-prod {
	        flex: 0 0 33.33%;
	    }
	    .content-info {
	        padding: 30px;
	        flex: 1 0 auto;
	    }
	}
    *{
        
        transition: all 1s ease;
    }
}

/****** Cars End ******/

/****** Companies ******/

.company-hero {
	min-height: 50vh;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	text-align: center;
	background-image: url('/img/banner-company.jpg');
	background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #FFF;
    h1, h2{
    	margin-bottom: 15px
    }
    h3{
    	font-weight: normal;
    	margin-bottom: 10px;
    }
}

#category-company {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
	.card-company{
	    background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 30px;
	    text-align: center;
	    color: #FFF;
	    border-radius: 10px;
	    box-shadow: 0 1px 6px #AAA;
	    height: 345px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    position: relative;
	    transition: all .3s ease-in;
	    &.dealer {
		    background-image: url('/img/dealer-cat.jpg ');
	    }
	    &.real-estate {
		    background-image: url('/img/real-estate-cat.jpg ');
	    }
	    &.motor {
		    background-image: url('/img/motor-cat.jpg ');
	    }
	    &.ship {
		    background-image: url('/img/ship-cat.jpg ');
	    }
	    &.rent-car {
		    background-image: url('/img/rent-car-cat.jpg ');
	    }
	    &.register {
	    	background-color: #007CCC;
	    	h6{
	    		margin-bottom: 30px;
	    	}
	    }
		h3 {
		    margin-bottom: 15px;
		}
		p {
		    margin-bottom: 30px;
		}
		a.button.is-primary {
		    position: absolute;
		    bottom: 0;
		    opacity: 0;
		    z-index: -1;
		}
		
		&:not(:last-child):hover {
			transform: scale(1.1);
			a.button.is-primary {
			    z-index: 1;
			    opacity: 1;
			    bottom: 50px;
			}
		}
	}
}

/****** Companies Inner ******/

.company {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 30px 10px;
    .comp-link{
		box-shadow: 0 2px 6px #AAA;
		border-radius: 5px;
	    transition: all .4s ease-in-out;
	    color: #000;
	    width: 100%;
	}
	.car-comp {
	    border-radius: 5px;
	    overflow: hidden;
	    box-shadow: 0 3px 6px #AAA;
        transition: all 1s ease;

	    .img-comp {
		    border-radius: 5px;
		    overflow: hidden;
		}
		.content-info {
		    padding: 10px;
			.comp-title {
			    margin-bottom: 5px;
			    font-size: 21px;
			}
			p {
			    margin-bottom: 5px;
			    color: #555;
			}
		}
	}
}
/****** Companies Inner End******/

/****** Companies End ******/

/****** Contact ******/

.contact-hero {
	height: 40vh;
	background-image: url('/img/contact-us-banner.jpg');
	background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    color: #FFF;
}

#contact {
	.form-box {
	    display: flex;
	    align-items: center;
	    position: relative;
	    justify-content: center;
	}
	.box-contact-details {
		background-color: #071336;
		box-shadow: 0 3px 6px #071336;
		padding: 30px;
		border-radius: 5px;
	    z-index: 1;
	    width: 50%;
	    margin-right: -60px;
		h3{
			margin-bottom: 15px;
			color: #FFF;
		}
		.contact-content {
			li {
				color: #FFF;
				margin-bottom: 10px;
				span{
					font-weight: 700;
				}
			}
			a {
				color: #FFF;
				transition: all .3s ease-in;
				font-weight: normal;
				&:hover {
					color: #E6B112;
				}
			}
		}
		.social-media {
		    display: flex;
		    flex-flow: row wrap;
		    align-items: center;
			li {
			    margin-right: 10px;
				.follow-us {
				    font-size: 20px;
				    color: #FFF;
				}

				.contact-link {
				    font-size: 24px;
				    color: #FFF;
				    font-weight: normal;
				    &:hover {
						color: #E6B112;
					}
				}
			}
		}
	}
	.contact-form {
	    background-color: #FFF;
	    box-shadow: 0 2px 10px #AAA;
	    padding: 30px;
	    padding-left: 12%;
	    border-radius: 5px;
	    flex: 1 0 60%;
	}
}

/****** Contact End ******/

/****** Sale ******/


#sale {
	.columns.is-vcentered::before {
		content: "";
		background-color: #071336;
		width: 100%;
		height: 80%;
		position: absolute;
		left: 0;
		z-index: -1;
	}

	h1 {
	    font-size: 42px;
	    margin-bottom: 15px;
	}
	h2 {
	    font-size: 32px;
	    margin-bottom: 15px;
	}
	h3 {
	    font-weight: 400;
	    font-size: 26px;
	    margin-bottom: 10px;
	}
}

.sale-register-form {
    padding: 30px 20px;
    background-color: #007CCC;
    box-shadow: 0 0 8px #007CCC;
    border-radius: 5px;
    h3{
    	margin-bottom: 15px;
    }
    .label, .checkbox {
		color: #FFF;
    }
    select, .select{
    	width: 100%;
    }
    .checkbox a {
    	color: #E6B112;
    }
	.btn-register {
	    margin-top: 30px;
		button,
		button {
		    display: block;
		    width: 100%;
		}
	}
	.buttons {
	    justify-content: space-between;
	    .forgot-btn{
			color: #222;
		    transition: all .3s ease-in-out;
			&:hover{
				color: #007CCC;
			}
		}
	}

	.other-options {
		h5 {
		    margin-bottom: 15px;
		    color: #FFF;
		}
		.facebook-btn, 
		.google-btn {
		    display: inline-block;
		    padding: 10px 20px;
		    width: 35%;
		    flex: 0 0 35%;
		    text-align: center;
		    transition: all .3s ease-in-out;
		}
		.facebook-btn {
		    background-color: #3B5998;
		    color: #FFF;
			&:hover {
			    background-color: #2e4575;
			}
		}

		.google-btn {
		    border: 1px solid #427add;
		    color: #222;
		    background-color: #FFF;
			&:hover {
			    background-color: #F2F2F2;
			}
			img {
			    width: 15%;
			}
		}
	}
}

/****** Sale End ******/

/****** Login and Register ******/

#form-section{
	padding: 30px 0;
    h3{
    	margin-bottom: 15px;
    }
    .columns{
    	justify-content: space-between;
    }
}

.login-form,
.register-form {
    padding: 30px 20px;
    box-shadow: 0 0 8px #AAA;
    border-radius: 5px;
}

.login-form .btn-login{
    margin-top: 30px;
	button,
	button {
	    display: block;
	    width: 100%;
	}
}

.register-form {
	.btn-register {
	    margin-top: 30px;
		button,
		button {
		    display: block;
		    width: 100%;
		}
	}
	select, .select{
    	width: 100%;
    }
}

.login-form {
	.buttons {
	    justify-content: space-between;
	    .forgot-btn{
			color: #222;
		    transition: all .3s ease-in-out;
			&:hover{
				color: #007CCC;
			}
		}
	}
	.other-options {
		h5 {
		    margin-bottom: 15px;
		}
		.facebook-btn, 
		.google-btn {
		    display: inline-block;
		    padding: 10px 20px;
		    width: 35%;
		    flex: 0 0 35%;
		    text-align: center;
		    transition: all .3s ease-in-out;
		}
		.facebook-btn {
		    background-color: #3B5998;
		    color: #FFF;
			&:hover {
			    background-color: #2e4575;
			}
		}

		.google-btn {
		    border: 1px solid #427add;
		    color: #222;
			&:hover {
			    background-color: #F2F2F2;
			}
			img {
			    width: 15%;
			}
		}
	}
}

/****** Login and Register End ******/

/****** Reset Password ******/

#reset-password{
	padding: 60px 0;
	h3 {
	    margin-bottom: 10px;
	}

	h5 {
	    margin-bottom: 20px;
	}
	.columns {
	    justify-content: center;
	}
}

/****** Reset Password End ******/
