<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vehículos | Carros y Casas</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/9aa0e1d6d6.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header>
		<nav class="navbar is-transparent">
			<div id="topbar">
			 	<div class="navbar-brand">
			    	<a class="navbar-item" href="/">
				    	<img src="/img/innovacode_wt.png" alt="Empresas JNA.com">
				    </a>
				    <div class="navbar-burger burger" data-target="main-navbar">
				    	<span></span>
				    	<span></span>
				    	<span></span>
				    </div>
				</div>
				<div class="topbar-menu">
					<div class="navbar-end">
				    	<a class="navbar-item" href="/pages/sale.html">Vender</a>
				    	<a class="navbar-item" href="/pages/login-register.html">Ingresar</a>
					</div>
				</div>
			</div>

			<div id="main-navbar" class="navbar-menu">
		    	<div class="navbar-center">
			    	<a class="navbar-item" href="/">Portada</a>
		      		<a class="navbar-item" href="/pages/cars.html">Vehiculos</a>
		         	<a class="navbar-item" href="/pages/real-estate.html">Propiedades</a>
				    <div class="navbar-item has-dropdown is-hoverable">
		        		<a class="navbar-link" href="/pages/companies.html">Empresas</a>
				        <div class="navbar-dropdown is-boxed">
				         	<a class="navbar-item" href="/pages/companies/dealers.html">Dealers</a>
				         	<a class="navbar-item" href="/pages/companies/real-estate.html">Inmobiliarias</a>
				         	<a class="navbar-item" href="/pages/companies/motor.html">Motoprestamos</a>
				         	<a class="navbar-item" href="/pages/companies/ships.html">Navieras</a>
				        </div>
				    </div>
			    	<a class="navbar-item" href="/pages/contacto.html">Contacto</a>
		    	</div>
			</div>
		</nav>
	</header>
	<div id="wrapper">
		<div id="products-content">
			<div class="columns">
				<aside class="column is-12-mobile is-3-desktop box-sidebar">
					<div class="form-sidebar">
						<h3>Buscador</h3>
						<form class="search-sidebar-form">
							<div class="field">
								<label class="label">Vehículos</label>
								<div class="select">
							    	<select>
							    		<option>Todas los vehículos</option>
							    		<option>Carros</option>
							    		<option>Motor</option>
							    		<option>Barco</option>
								    </select>
								</div>
							</div>
							<div class="field">
								<label class="label">Tipo de Vehículo</label>
								<div class="select">
							    	<select>
							    		<option>Todos</option>
							    		<option>Sedan</option>
							    		<option>Suv</option>
							    		<option>Coupe</option>
							    		<option>Minivan</option>
								    </select>
								</div>
							</div>
							<div class="field">
								<label class="label">Marca</label>
								<div class="select">
							    	<select>
							    		<option>Todas las Marcas</option>
							    		<option>Marca 1</option>
							    		<option>Marca 2</option>
							    		<option>Marca 3</option>
								    </select>
								</div>
							</div>
							<div class="field">
								<label class="label">Modelo</label>
								<div class="select">
							    	<select>
							    		<option>Todas los modelos</option>
							    		<option>Modelo 1</option>
							    		<option>Modelo 2</option>
							    		<option>Modelo 3</option>
								    </select>
								</div>
							</div>
							<div class="field">
								<label class="label">Provincias</label>
								<div class="select">
							    	<select>
							    		<option>Todas las Provincias</option>
							    		<option>La Altagracia</option>
							    		<option>La Romana</option>
							    		<option>El Seibo</option>
							    		<option>Hato Mayor</option>
								    </select>
								</div>
							</div>
							<div class="field mid-field">
								<label class="label">Condición</label>
								<div class="select">
							    	<select>
							    		<option>Todas</option>
							    		<option>Nuevo</option>
							    		<option>Usado</option>
								    </select>
								</div>
							</div>
							<div class="field mid-field">
								<label class="label">Estado</label>
								<div class="select">
							    	<select>
							    		<option>Cualquiera</option>
							    		<option>En Venta</option>
							    		<option>En Renta</option>
							    		<option>Venta y/o Alquiler</option>
								    </select>
								</div>
							</div>
							<div class="field">
								<label class="label">Provincias</label>
								<div class="select">
							    	<select>
							    		<option>Todas las Provincias</option>
							    		<option>La Altagracia</option>
							    		<option>La Romana</option>
							    		<option>El Seibo</option>
							    		<option>Hato Mayor</option>
								    </select>
								</div>
							</div>
							<a class="advanced-search button is-primary outline" href="#">
								<i class="fas fa-plus"></i>
								Busqueda Avanzada
							</a>
							<div class="box-advanced-search">
								<div class="field">
									<label class="label">Combustible</label>
									<div class="select">
								    	<select>
								    		<option>Todos</option>
								    		<option>Gasolina</option>
								    		<option>Gas</option>
									    </select>
									</div>
								</div>
								<div class="field">
									<label class="label">Transmisión</label>
									<div class="select">
								    	<select>
								    		<option>Todas</option>
								    		<option>La Altagracia</option>
								    		<option>La Romana</option>
								    		<option>El Seibo</option>
								    		<option>Hato Mayor</option>
									    </select>
									</div>
								</div>
								<div class="field">
									<label class="label">Tracción</label>
									<div class="select">
								    	<select>
								    		<option>Todas</option>
								    		<option>Delantera</option>
								    		<option>Trasera</option>
								    		<option>La Romana</option>
								    		<option>Hato Mayor</option>
									    </select>
									</div>
								</div>
								<div class="field">
									<label class="label">Vendedor</label>
									<div class="select">
								    	<select>
								    		<option>Todas las Provincias</option>
								    		<option>La Altagracia</option>
								    		<option>La Romana</option>
								    		<option>El Seibo</option>
								    		<option>Hato Mayor</option>
									    </select>
									</div>
								</div>
							</div>
							<div class="field text-right">
								<button class="button is-primary">Buscar</button>
							</div>
						</form>
					</div>
					<div class="change-role">
						<h4>¿Eres propietario de una empresa?</h4>
						<p>Regístrala gratis y haz que tu marca e inventario lleguen mas lejos y a mas personas de una forma rápida, segura y sencilla.</p>
						<a href="/pages/sale.html" class="button is-second">Registrarme</a>
					</div>
				</aside>
				<div class="column box-content">
					<div class="filter-content">
						<form action="" class="filter-form">
							<div class="radio-group">
								<div class="radio-inner">
									<label for="grid">
										<input class="radio-control" type="radio" v-model="gridOrList" id="grid" name="view" value="Grid View" checked>
										<span><i class="fas fa-th-large"></i></span>
									</label>
								</div>
								<div class="radio-inner">
									<label for="list">
										<input class="radio-control" type="radio" v-model="gridOrList" id="list" name="view" value="List View">
										<span><i class="fas fa-th-list"></i></span>
									</label>
								</div>
							</div>
							<div class="select">
								<label for="">Ordernar por: &nbsp;</label>
								<select name="select-view" class="select-view" id="">
									<option value="Default">Por Defecto</option>
									<option value="A to Z">A a Z</option>
									<option value="Z to A">Z a A</option>
								</select>
							</div>
						</form>
					</div>
					<hr>
					<div class="products-content" :class="gridOrList2">
						<a href="#" class="prod-link">
							<article class="car-prod">
								<div class="img-prod">
									<img src="/img/ford-mustang.jpg" alt="Ford Mustang 66">
								</div>
								<div class="content-info">
									<h4 class="prod-title">Ford Mustang 66</h4>
									<div class="prod-status">
										<p>2020 / Nuevo / Diesel / Venta</p>
									</div>
									<p class="price">
										RD$ 350,000
									</p>
									<p v-if="listView">Vendedor: Persona</p>
									<p v-if="listView">Provincia: La Altagracia</p>
								</div>
							</article>
						</a>
						<a href="#" class="prod-link">
							<article class="car-prod">
								<div class="img-prod">
									<img src="/img/ford-mustang.jpg" alt="Ford Mustang 66">
								</div>
								<div class="content-info">
									<h4 class="prod-title">Ford Mustang 66</h4>
									<div class="prod-status">
										<p>2020 / Nuevo / Diesel / Venta</p>
									</div>
									<p class="price">
										RD$ 350,000
									</p>
									<p v-if="listView">Vendedor: Persona</p>
									<p v-if="listView">Provincia: La Altagracia</p>
								</div>
							</article>
						</a>
						<a href="#" class="prod-link">
							<article class="car-prod">
								<div class="img-prod">
									<img src="/img/ford-mustang.jpg" alt="Ford Mustang 66">
								</div>
								<div class="content-info">
									<h4 class="prod-title">Ford Mustang 66</h4>
									<div class="prod-status">
										<p>2020 / Nuevo / Diesel / Venta</p>
									</div>
									<p class="price">
										RD$ 350,000
									</p>
									<p v-if="listView">Vendedor: Persona</p>
									<p v-if="listView">Provincia: La Altagracia</p>
								</div>
							</article>
						</a>
						<a href="#" class="prod-link">
							<article class="car-prod">
								<div class="img-prod">
									<img src="/img/ford-mustang.jpg" alt="Ford Mustang 66">
								</div>
								<div class="content-info">
									<h4 class="prod-title">Ford Mustang 66</h4>
									<div class="prod-status">
										<p>2020 / Nuevo / Diesel / Venta</p>
									</div>
									<p class="price">
										RD$ 350,000
									</p>
									<p v-if="listView">Vendedor: Persona</p>
									<p v-if="listView">Provincia: La Altagracia</p>
								</div>
							</article>
						</a>
						<a href="#" class="prod-link">
							<article class="car-prod">
								<div class="img-prod">
									<img src="/img/ford-mustang.jpg" alt="Ford Mustang 66">
								</div>
								<div class="content-info">
									<h4 class="prod-title">Ford Mustang 66</h4>
									<div class="prod-status">
										<p>2020 / Nuevo / Diesel / Venta</p>
									</div>
									<p class="price">
										RD$ 350,000
									</p>
									<p v-if="listView">Vendedor: Persona</p>
									<p v-if="listView">Provincia: La Altagracia</p>
								</div>
							</article>
						</a>
						<a href="#" class="prod-link">
							<article class="car-prod">
								<div class="img-prod">
									<img src="/img/ford-mustang.jpg" alt="Ford Mustang 66">
								</div>
								<div class="content-info">
									<h4 class="prod-title">Ford Mustang 66</h4>
									<div class="prod-status">
										<p>2020 / Nuevo / Diesel / Venta</p>
									</div>
									<p class="price">
										RD$ 350,000
									</p>
									<p v-if="listView">Vendedor: Persona</p>
									<p v-if="listView">Provincia: La Altagracia</p>
								</div>
							</article>
						</a>
						<a href="#" class="prod-link">
							<article class="car-prod">
								<div class="img-prod">
									<img src="/img/ford-mustang.jpg" alt="Ford Mustang 66">
								</div>
								<div class="content-info">
									<h4 class="prod-title">Ford Mustang 66</h4>
									<div class="prod-status">
										<p>2020 / Nuevo / Diesel / Venta</p>
									</div>
									<p class="price">
										RD$ 350,000
									</p>
									<p v-if="listView">Vendedor: Persona</p>
									<p v-if="listView">Provincia: La Altagracia</p>
								</div>
							</article>
						</a>
						<a href="#" class="prod-link">
							<article class="car-prod">
								<div class="img-prod">
									<img src="/img/ford-mustang.jpg" alt="Ford Mustang 66">
								</div>
								<div class="content-info">
									<h4 class="prod-title">Ford Mustang 66</h4>
									<div class="prod-status">
										<p>2020 / Nuevo / Diesel / Venta</p>
									</div>
									<p class="price">
										RD$ 350,000
									</p>
									<p v-if="listView">Vendedor: Persona</p>
									<p v-if="listView">Provincia: La Altagracia</p>
								</div>
							</article>
						</a>
					</div>
					<div class="pagination-content">
						<ul class="pagination-list inner-pagination">
							<li>
								<a href="#" class="pagination-previous">
									<i class="fas fa-chevron-left"></i>&#160;Anterior
								</a>
							</li>
							<li>
								<a href="#" class="pagination-link active">1</a>
							</li>
							<li>
								<a href="#" class="pagination-link">2</a>
							</li>
							<li>
								<a href="#" class="pagination-link">4</a>
							</li>
							<li>
								<a href="#" class="pagination-link">3</a>
							</li>
							<li>
								<a href="#" class="pagination-link">5</a>
							</li>
							<li>
								<a href="#" class="pagination-next">
									Siguiuiente&#160;<i class="fas fa-chevron-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="main-footer">
		<div class="container is-fluid footer">
			<div class="columns">
				<div class="column">
					<h3><a href="/">Ir a la Portada</a></h3>
					<ul>
						<li>
							<a class="footer-link" href="#">Políticas del Sitio Web</a>
						</li>
						<li>
							<a class="footer-link" href="#">Términos y Condiciones</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<h3>Accesos Rapidos</h3>
					<ul class="quick-links fa-ul">
						<li>
							<span class="fa-li"><i class="fas fa-chevron-right"></i></span>
							<a href="#" class="item-link">Vehículos</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-chevron-right"></i></span>
							<a href="#" class="item-link">Inmuebles</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-chevron-right"></i></span>
							<a href="#" class="item-link">Dealers</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-chevron-right"></i></span>
							<a href="#" class="item-link">MotoPrestamos</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-chevron-right"></i></span>
							<a href="#" class="item-link">Inmobiliarias</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-chevron-right"></i></span>
							<a href="#" class="item-link">RentCars</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-chevron-right"></i></span>
							<a href="#" class="item-link">Náuticas</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-chevron-right"></i></span>
							<a href="#" class="item-link">Motoprestamos</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<h3><a href="/pages/contacto.html">Detalles de Contacto</a></h3>
					<ul class="footer-contact fa-ul">
						<li>
							<span class="fa-li"><i class="fas fa-phone fa-rotate-90"></i></span>
							<a href="#" class="item-link">+1 809-000-0000</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-phone fa-rotate-90"></i></span>
							<a href="#" class="item-link">+1 809-000-0000</a>
						</li>
						<li>
							<span class="fa-li"><i class="fas fa-envelope"></i></span>
							<a href="mailto:info@empresasjna.com" class="item-link">info@empresasjna.com</a>
						</li>
					</ul>
					<ul class="social-media">
						<li ><span class="follow-us">Siguenos en: </span></li>
						<li>
							<a class="footer-link" href="#">
								<i class="fab fa-facebook-square"></i>
							</a>
						</li>
						<li>
							<a class="footer-link" href="#">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li>
							<a class="footer-link" href="#">
								<i class="fab fa-whatsapp"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright-content">
			<p class="copyright-text">Empresas JNA Copyright © 2020.</p>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/JavaScript" src="/js/main.js"></script>
</body>
</html>